run = "npm run dev"
entrypoint = "app/page.tsx"

[nix]
channel = "stable-22_11"

[env]
PATH = "/home/runner/$REPL_SLUG/.bin"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"
syntax = "typescript"
